body {
    margin: 0;
    font-family: 'lato';
}

  .menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    padding: 100px 0;
  }

  #heading h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    color: #0f8b8d;
    font-size: 48px;
  }

  #heading p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #143642;
  }



  .card {
    width: 216px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 2500px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .cover-image {
    width: 130%;
    height: 100%;
    object-fit: cover;
    margin-bottom: -30px;
  }
  
  .wrappers {
    transition: all 0.3s;
    position: absolute;
    max-height: var(--card-height);
    z-index: -1;
    background-color: #4aa1a2;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .card:hover .wrappers {
    filter: blur(2px);
  }
  
  .details {
    width: 100%;
    transition: all 0.3s;
    color: white;
    text-align: center;
    height: 100%;
    padding-top: 100px;
  }
  
  .card:hover .details {
    padding-top: 0;
    transform: translate3d(0%, 200px, 100px);
  }
  
  .character {
    width: 90%;
    transition: all 0.3s;
    position: absolute;
    z-index: -1;
    bottom: 0px;
  }
  
  .card:hover .character {
    opacity: 1;
    width: 100%;
    transform: translate3d(0%, -30%, 200px);
  }
  
  h2 {
    margin-bottom: -10px;
  }
  
  p {
    font-size: 18px;
  }
 
  
  .row1,
  .row2 {
    display: flex;
    column-gap: 119px;
  }

  .card {
    height: 216px;
    aspect-ratio: 1;
    border-radius: 20px;
  }
  